<div class="post">
  <div class="post-header">
    <img
      [src]="post.user.profileImage || 'assets/img/ProfilePic.jpg'"
      class="avatar"
    />
    <div>
      <div class="author">
        {{ getUserDisplayName(post.user) }}
      </div>
      <div class="date">{{ post.createdAt | date : "yyyy-MM-dd HH:mm" }}</div>
    </div>
  </div>
  <div class="post-image" *ngIf="post.image">
    <img [src]="post.image" alt="Post image" />
  </div>
  <div class="post-content">{{ post.description }}</div>
  <div class="post-actions">
    <button [class.liked]="isLikedByCurrentUser()" (click)="onLike()">
      ❤️ {{ post.likes }}
    </button>
    <button (click)="toggleComments()">💬 Komentarze</button>
  </div>

  @if (showComments) {
  <div class="comments-section">
    <div class="comments-list">
      <comment
        *ngFor="let comment of post.comments | orderBy : 'createdAt' : true"
        [comment]="comment"
      >
      </comment>
    </div>
    <form class="add-comment" (ngSubmit)="addComment()">
      <input
        type="text"
        [(ngModel)]="newComment"
        name="newComment"
        placeholder="Dodaj komentarz..."
        required
        autocomplete="off"
      />
      <button type="submit" [disabled]="!newComment.trim()">Wyślij</button>
    </form>
  </div>
  }
</div>
