<div class="chat-room-container">
  <div class="chat-header">
    <ng-container *ngIf="!chat.isGroupChat; else groupHeader">
      <img
        [src]="getOtherUser(chat)?.profileImage || 'assets/img/ProfilePic.jpg'"
        alt="Avatar"
      />
      <h3>
        {{
          getOtherUser(chat)?.firstName && getOtherUser(chat)?.lastName
            ? getOtherUser(chat)?.firstName + " " + getOtherUser(chat)?.lastName
            : getOtherUser(chat)?.login
        }}
      </h3>
    </ng-container>
    <ng-template #groupHeader>
      <img [src]="chat.groupImage" alt="Avatar" />
      <h3>{{ chat.groupName }}</h3>
    </ng-template>
  </div>

  <div class="chat-messages">
    <div
      class="message"
      *ngFor="let message of messages"
      [class.sent]="message.sender.id === userId"
      [class.received]="message.sender.id !== userId"
    >
      <img
        class="avatar"
        [src]="
          message.sender.profileImage ||
          '../../../../../assets/img/ProfilePic.jpg'
        "
        alt="Avatar"
      />
      <div class="bubble">
        <div class="sender-name">
          {{
            message.sender.firstName && message.sender.lastName
              ? message.sender.firstName + " " + message.sender.lastName
              : message.sender.login
          }}
        </div>
        <p>{{ message.content }}</p>
        <span class="date">{{
          message.createdAt | date : "yyyy-MM-dd HH:mm"
        }}</span>
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input
      type="text"
      placeholder="Napisz wiadomość..."
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    />
    <button (click)="sendMessage()">Wyślij</button>
  </div>
</div>
