<div class="chat-container">
  <div class="chat-list">
    <h2>Twoje rozmowy</h2>

    <input
      type="text"
      placeholder="Szukaj znajomego..."
      [(ngModel)]="searchFriend"
      (input)="filterFriends()"
      class="friend-search"
    />
    <ul class="friends-list" *ngIf="searchFriend && filteredFriends.length">
      <li
        *ngFor="let friend of filteredFriends"
        (click)="startChatWith(friend)"
        class="friend-item"
      >
        <img
          [src]="friend.profileImage || 'assets/img/ProfilePic.jpg'"
          alt="Avatar"
        />
        <span>{{ friend.firstName }} {{ friend.lastName }}</span>
      </li>
    </ul>

    <ul>
      <li
        *ngFor="let chat of chats"
        (click)="selectChat(chat)"
        [class.active]="selectedChat?.id === chat.id"
      >
        <div class="chat-item">
          <ng-container *ngIf="!chat.isGroupChat; else groupChat">
            <img
              [src]="
                getOtherUser(chat)?.profileImage || 'assets/img/ProfilePic.jpg'
              "
              alt="Avatar"
            />
            <div class="chat-info">
              <h3>
                {{
                  getOtherUser(chat)?.firstName && getOtherUser(chat)?.lastName
                    ? getOtherUser(chat)?.firstName +
                      " " +
                      getOtherUser(chat)?.lastName
                    : getOtherUser(chat)?.login
                }}
              </h3>
              <!-- <p>{{ chat.lastMessage }}</p> -->
            </div>
          </ng-container>
          <ng-template #groupChat>
            <img
              [src]="chat.groupImage || 'assets/img/GroupPlaceholder.png'"
              alt="Avatar"
            />
            <div class="chat-info">
              <h3>{{ chat.groupName }}</h3>
              <!-- <p>{{ chat.lastMessage }}</p> -->
            </div>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>

  <div class="chat-room" *ngIf="selectedChat">
    <chat-room [chat]="selectedChat"></chat-room>
  </div>
</div>
