<div class="main-container">
  @if (userData) {
  <div class="user-profile">
    <div
      class="user-profile-header"
      [ngStyle]="{
        'background-image': userData.backgroundImage
          ? 'url(' + userData.backgroundImage + ')'
          : 'url(assets/img/ProfileBackground.jpg)'
      }"
    >
      <div class="user-profile-header-img">
        <img
          [src]="
            userData.profileImage
              ? userData.profileImage
              : 'assets/img/ProfilePic.jpg'
          "
          alt="Picture img"
        />
        <div
          class="active-circle"
          [ngStyle]="
            userData.isOnline ? { background: 'green' } : { background: 'red' }
          "
        ></div>
      </div>
      <h1>
        {{ getUserDisplayName() }}
      </h1>
      <p>{{ userData.email }}</p>
    </div>
    <div class="user-profile-content">
      <div>
        @if (userData.email === loginUser.email) { @if (!editBio) {
        <div class="bio-container">
          <span>{{ userData.bio }}</span>
          <button
            mat-icon-button
            (click)="editBio = true"
            aria-label="Edytuj bio"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        } @else {
        <div class="bio-container">
          <input
            type="text"
            [(ngModel)]="bioDraft"
            (keydown.enter)="saveBio()"
            (blur)="saveBio()"
            class="bio-input"
          />
          <button mat-icon-button (click)="saveBio()" aria-label="Zapisz bio">
            <mat-icon>check</mat-icon>
          </button>
        </div>
        } } @else {
        <p>{{ userData.bio }}</p>
        }
      </div>

      @if (userData.email !== loginUser.email && !isFriend()) {
      <button
        class="add-friend-button"
        (click)="sendInvite(loginUser.id, userData.id)"
      >
        {{ sendInviteFlag ? "Wysłano zaproszenie" : "Dodaj do znajomych" }}
      </button>
      } @else if (userData.email !== loginUser.email) {
      <button class="add-friend-button" disabled>Znajomi</button>
      }
    </div>
    <div>
      <h2>Friends</h2>
      <div class="friends-list">
        <div
          class="friend-card"
          *ngFor="let friend of userData.friends"
          (click)="redirectToFriend(friend.email)"
        >
          <img
            [src]="
              friend.profileImage
                ? friend.profileImage
                : 'assets/img/ProfilePic.jpg'
            "
            alt="Picture img"
            width="100px"
            height="100px"
          />
          <h3>{{ getFriednsName(friend) }}</h3>
          <p>{{ friend.email }}</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Posts</h2>
      <div class="posts-list">
        <div class="post-card" *ngFor="let post of userData.posts">
          @if (userData.email === loginUser.email) {
          <button class="delete-button" (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
          </button>
          }
          <h3>{{ post.name }}</h3>
          <p>{{ post.description }}</p>
          <p>{{ post.createdAt | date : "short" }}</p>
          <div
            class="post-background"
            [ngStyle]="{
              'background-image':
                'url(' +
                (post.image ? post.image : 'assets/img/PlaceholderPost.jpg') +
                ')'
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <h1>Nie udało się pobrać danych użytkownika</h1>
  }
</div>
