<div class="side-nav" [class.collapsed]="isCollapsed">
  <button class="toggle-button" (click)="toggleNavFunc()">
    <mat-icon>{{ isCollapsed ? "chevron_right" : "chevron_left" }}</mat-icon>
  </button>

  <ul>
    <li>
      <a routerLink="/">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/profile" [queryParams]="{ email: user?.email }">
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </a>
    </li>
    <li>
      <a routerLink="/invites">
        <mat-icon>person_add</mat-icon>
        <span>Zaproszenia</span>
      </a>
    </li>
    <li>
      <a routerLink="/chats">
        <mat-icon>chat</mat-icon>
        <span>Chat</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Ustawienia</span>
      </a>
    </li>
    @if (user?.role === 'admin') {
    <li>
      <a routerLink="/users">
        <mat-icon>groups</mat-icon>
        <span>Użytkownicy</span>
      </a>
    </li>
    }
  </ul>

  <button class="logout-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span *ngIf="!isCollapsed">Wyloguj</span>
  </button>

  <div class="language-switcher">
    <button (click)="changeLanguage('pl')">
      <img src="assets/icons/pl-flag.png" alt="Polski" />
      <span *ngIf="!isCollapsed">Polski</span>
    </button>
    <button (click)="changeLanguage('en')">
      <img src="assets/icons/en-flag.png" alt="English" />
      <span *ngIf="!isCollapsed">English</span>
    </button>
  </div>
</div>
