<div class="login-container">
  <div class="login-card">
    <h2>Logowanie</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="Wprowadź nazwę użytkownika"
        />
        @if (loginForm.get('username')?.invalid &&
        loginForm.get('username')?.touched) {
        <div class="error">Nazwa użytkownika jest wymagana.</div>
        }
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Wprowadź hasło"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            {{ showPassword ? "Ukryj" : "Pokaż" }}
          </button>
        </div>
        @if (loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <div class="error">Hasło jest wymagane.</div>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="login-button">
        Zaloguj się
      </button>
    </form>
  </div>
</div>
