<div class="register-container">
  <div class="register-card">
    <h2>Rejestracja</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Wprowadź email użytkownika"
        />
        @if (registerForm.get('email')?.invalid &&
        registerForm.get('email')?.touched) {
        <div class="error">Email użytkownika jest wymagany.</div>
        }
      </div>

      <div class="form-group">
        <label for="login">Login</label>
        <input
          id="login"
          type="text"
          formControlName="login"
          placeholder="Wprowadź login"
        />
        @if (registerForm.get('login')?.invalid &&
        registerForm.get('login')?.touched) {
        <div class="error">Login jest wymagany.</div>
        }
      </div>

      <div class="form-group">
        <label for="firstName">Imię</label>
        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          placeholder="Wprowadź imię"
        />
        @if (registerForm.get('firstName')?.invalid &&
        registerForm.get('firstName')?.touched) {
        <div class="error">Imię jest wymagane.</div>
        }
      </div>

      <div class="form-group">
        <label for="lastName">Nazwisko</label>
        <input
          id="lastName"
          type="text"
          formControlName="lastName"
          placeholder="Wprowadź nazwisko"
        />
        @if (registerForm.get('lastName')?.invalid &&
        registerForm.get('lastName')?.touched) {
        <div class="error">Nazwisko jest wymagane.</div>
        }
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Wprowadź hasło"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            {{ showPassword ? "Ukryj" : "Pokaż" }}
          </button>
        </div>
        @if (registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched) {
        <div class="error">Hasło jest wymagane.</div>
        }
      </div>

      <div class="form-group">
        <label for="repeated_password">Powtórz hasło</label>
        <div class="password-wrapper">
          <input
            id="repeated_password"
            [type]="showRepeatedPassword ? 'text' : 'password'"
            formControlName="repeatedPassword"
            placeholder="Wprowadź hasło ponownie"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="toggleRepeatedPasswordVisibility()"
          >
            {{ showRepeatedPassword ? "Ukryj" : "Pokaż" }}
          </button>
        </div>
        @if (registerForm.get('repeatedPassword')?.invalid &&
        registerForm.get('repeatedPassword')?.touched) {
        <div class="error">Powtórzenie hasła jest wymagane.</div>
        }
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="register-button"
      >
        Zarejestruj się
      </button>
    </form>
  </div>
</div>
