<modal>
  <div modal-header>
    <h2>{{ "create-new-group" | translate }}</h2>
  </div>
  <form [formGroup]="groupForm" (ngSubmit)="createGroup()" modal-body>
    <label>
      {{ "group-name" | translate }}:
      <input formControlName="groupName" type="text" required />
    </label>

    <label>
      {{ "group-image" | translate }}:
      <input type="file" (change)="onFileChange($event)" accept="image/*" />
    </label>
    <div *ngIf="groupImageBase64" class="preview">
      <img [src]="groupImageBase64" alt="Podgląd zdjęcia" />
    </div>

    <label class="ng-dropdown-panel">
      {{ "add-users" | translate }}:

      <multi-select
        [options]="friends"
        labelKey="email"
        valueKey="id"
        placeholder="Wyszukaj znajomych"
        selectAllLabel="Zaznacz wszystkich"
        (selectionChange)="groupForm.get('participants')?.setValue($event)"
      ></multi-select>
    </label>

    <div class="modal-actions">
      <button type="submit" [disabled]="groupForm.invalid">
        {{ "create" | translate }}
      </button>
      <button type="button" (click)="close()">
        {{ "cancel" | translate }}
      </button>
    </div>
  </form>
</modal>
