<div class="main-container">
  <div class="search-container">
    <input type="text" placeholder="Wyszukaj użytkownika" />
  </div>

  <button class="fab" (click)="toggleShowModal()">
    <mat-icon>add</mat-icon>
  </button>

  @if (showModal) {
  <modal>
    <div modal-header>
      <h3>Create New Post</h3>
    </div>
    <div modal-body>
      <add-post (postAdded)="handlePostAdded($event)"></add-post>
    </div>
    <div modal-footer>
      <button (click)="toggleShowModal()" class="btn btn-secondary">
        Close
      </button>
    </div>
  </modal>
  }
</div>
