<div class="main-container">
  <div class="search-container">
    <input
      type="text"
      placeholder="Wyszukaj użytkownika"
      [formControl]="searchControl"
    />
    @if (users.length > 0) {
    <div class="search-results">
      <div
        class="user-card"
        *ngFor="let user of users"
        (click)="goToUserProfile(user.email)"
      >
        <img [src]="getProfileImage(user)" alt="User Image" />
        <div class="user-info">
          <h4>{{ user.firstName }} {{ user.lastName }}</h4>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="posts-list" (scroll)="onPostsListScroll($event)">
    <post *ngFor="let post of posts" [post]="post"> </post>
    @if (loading) {
    <app-spinner />
    } @if (allLoaded && posts.length === 0) {
    <div class="no-posts">Brak postów do wyświetlenia.</div>
    }
  </div>

  <button class="fab" (click)="toggleShowModal()">
    <mat-icon>add</mat-icon>
  </button>

  @if (showModal) {
  <modal>
    <div modal-header class="modal-header">
      <h3>Create New Post</h3>
      <button (click)="toggleShowModal()" class="btn">Close</button>
    </div>
    <div modal-body>
      <add-post (postAdded)="handlePostAdded($event)"></add-post>
    </div>
    <div modal-footer></div>
  </modal>
  }
</div>
